/FinalProject/db/*
*.rpt
FinalProject/Follower.map.smsg
*.summary
/FinalProject/incremental_db/*
FinalProject/Follower.done
FinalProject/Follower.fit.smsg
FinalProject/Follower.jdi
FinalProject/Follower.pin
FinalProject/Follower.sld
FinalProject/Follower.sof
FinalProject/Follower.qws
